[project]
	description = DS18B20 lib that uses the w1/w1-temp modules
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Paul Barajas (BarajasPaul)
[access "refs/for/refs/*"]
	read = group user/Paul Barajas (BarajasPaul)
	push = group user/Paul Barajas (BarajasPaul)
	label-Code-Review = -2..+2 group user/Paul Barajas (BarajasPaul)
	label-Verified = -1..+1 group user/Paul Barajas (BarajasPaul)
	rebase = group user/Paul Barajas (BarajasPaul)
	removeReviewer = group user/Paul Barajas (BarajasPaul)
	submit = group user/Paul Barajas (BarajasPaul)
[access "refs/heads/*"]
	read = group user/Paul Barajas (BarajasPaul)
	create = group user/Paul Barajas (BarajasPaul)
	push = +force group user/Paul Barajas (BarajasPaul)
	pushMerge = group user/Paul Barajas (BarajasPaul)
[access "refs/tags/*"]
	push = group user/Paul Barajas (BarajasPaul)
	push = +force group user/Paul Barajas (BarajasPaul)
